.background-image {
    height: 100vh;
    background-size: cover;
    background-image : url("https://t3.ftcdn.net/jpg/06/36/02/60/360_F_636026013_l0aH6PYYYfPHszxdxX5ydDBqCO5Weeqx.jpg");
    background-position : center;
}
h1{
   text-align: center;
   color:#ffffff;
   padding-top: 160px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 50px;
   }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    padding-top: 50px;
    padding-bottom: 10px;
}

.drum{
    width:100px;
    height:100px;
    background-color:hwb(60 93% 5% / 0.94);
    border-radius:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 10px;
    padding-bottom:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#ED7B58;
    border: 2px solid #ED7B58;
    position: relative;
} 


.drum:hover{
    background-color: #d7a798;
    color: #ffffff;
    cursor: pointer;
}

.drum:active{
    background-color:#ED7B58;
    color: #ffffff;
}


.sparkles{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ec7754;
    border-radius: 50%;
    animation: sparkle-animation 0.5s ease-out forwards;
}

@keyframes sparkle-animation {
    0% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50px, -50px) scale(2);
    }
}




